<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.tp.gexogen.lessons"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".lesson1.Lesson1Activity"
            android:label="@string/title_activity_lesson1"
            />
        <activity
            android:name=".lesson2.Lesson2Activity"
            android:label="@string/title_activity_lesson2"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tp.gexogen.lessons.MainActivity"
                />
        </activity>
        <activity
            android:name=".lesson5.Lesson5Activity"
            android:label="@string/title_activity_lesson5"
            >
        </activity>

        <service android:name=".lesson5.UrlService"/>
        <service android:name=".lesson5.ForegroundService"/>
    </application>

</manifest>
